@{
    ViewBag.Title = "Kontaktformular";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@{
    if (IsPost)
    {
        string firstname = Request["FirstName"];
        string lastname = Request["LastName"];
        string birthday = Request["Birthday"];
        string hometown = Request["Hometown"];
    }
}